<html lang="en">

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/main.css" />
    <title>Curator: Museum Finder</title>
</head>

<body>
    <main>
        <form class="form-inline global-search">
            <h1>Curator</h1>
            <p>Find the museum for you.</p>

            <div class="form-group">
                <!-- TODO: make search form sticky (controller needs to pass in {{query}}) & get rid of "your search" -->
                <input aria-label="Search" id="input" type="text" name="search" class="form-control"
                    value="{{search_terms}}" placeholder="Search for museums" />
                <button type="submit" class="btn btn-info">Go!</button>
            </div>
        </form>

        <div class="search-output global-search">
            {% if data %}
            <h2 class="output-message">{{output_message}}</h2>
            {% for d in data %}
            <p class="output-result">{{d}}</p>
            {% endfor %}
            {% endif %}
        </div>
    </main>

    <footer class="footer">
        <p>Project Name: {{ name }}</p>
        <p>Student Names: {{ netid }}</p>
    </footer>

</body>

</html>