<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/main.css" />
    <title>Curator: Museum Finder</title>
</head>

<body>
    <!-- TODO: make footer? -->
    <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
    </div>
    <form class="form-inline global-search">
        <h1>Curator</h1>
        <p>Find the museum for you.</p>

        <div class="form-group">
            <!-- TODO: make search form sticky (controller needs to pass in {{query}}) & get rid of "your search" -->
            <input id="input" type="text" name="search" class="form-control" value="{{query}}"
                placeholder="Search for museums" />
            <button type="submit" class="btn btn-info">Go!</button>
        </div>
    </form>

    <form class="form-inline global-search">
        {% if data %}
        <h2>{{output_message}}</h2>
        {% for d in data %}
        <p>{{d}}</p>
        {% endfor %}
        {% endif %}
    </form>
</body>

</html>